<body>
<h1>ПРИМЕНЕНИЕ УМНОГО ФИЛЬТРА</h1>

<div *ngIf="selectedFilters.length > 0">
  <div class="selected-filters">
    <div *ngFor="let filter of selectedFilters" class="filter-item">
      <span class="filter-text">{{ filter.label }}</span>
      <button class="remove-btn" (click)="removeFilter(filter)">✖</button>
    </div>
  </div>
  <div class="clear-container">
    <span class="clear-text" (click)="clearFilters()">Очистить</span>
  </div>
</div>

<h2>ВСЕ ФИЛЬТРЫ</h2>
<h3>Общие</h3>
<div class="grid-container">
  <div *ngFor="let filter of filters" class="grid-item">
    <h4>{{ filter.title }}</h4>
    <ng-container *ngIf="!filter.isSelect; else selectTemplate">
      <div *ngFor="let option of filter.options" class="progress-container">
        <div class="progress-button"
             (click)="toggleFilter(option)"
             [class.active]="isFilterSelected(option.id)">
        </div>
        <span class="button-text">{{ option.label }}</span>
      </div>
    </ng-container>

    <ng-template #selectTemplate>
      <div *ngFor="let selectNumber of developerSelectNumbers" class="select-container">
        <select class="filter-select"
                [(ngModel)]="selectedDevelopers[selectNumber]"
                (ngModelChange)="onDeveloperChange(selectNumber, $event)">
          <option [ngValue]="null">Выбрать застройщика</option>
          <option *ngFor="let option of filter.options" [ngValue]="option">
            {{ option.label }}
          </option>
        </select>
      </div>
    </ng-template>
  </div>
</div>

<div class="grid-container">
  <div class="grid-item">
    <h4>Площадь</h4>
    <div class="input-container">
      <label for="generalArea">Общая:</label>
      <mat-form-field>
        <input matInput id="generalArea" [(ngModel)]="areaFilters.general" placeholder="Введите значение">
      </mat-form-field>
    </div>
    <div class="input-container">
      <label for="livingArea">Жилая:</label>
      <mat-form-field>
        <input matInput id="livingArea" [(ngModel)]="areaFilters.living" placeholder="Введите значение">
      </mat-form-field>
    </div>
    <div class="input-container">
      <label for="kitchenArea">Кухня:</label>
      <mat-form-field>
        <input matInput id="kitchenArea" [(ngModel)]="areaFilters.kitchen" placeholder="Введите значение">
      </mat-form-field>
    </div>
  </div>

  <div class="grid-item">
    <h4>Стоимость, ₽</h4>
    <div class="input-container">
      <label for="price">Цена:</label>
      <mat-form-field>
        <input matInput id="price" [(ngModel)]="priceFilter" placeholder="Введите стоимость">
      </mat-form-field>
    </div>
  </div>

  <div class="grid-item">
    <h4>Цена за м²</h4>
    <div class="input-container">
      <label for="pricePerM2">Цена за кв.м:</label>
      <mat-form-field>
        <input matInput id="pricePerM2" [(ngModel)]="pricePerM2Filter" placeholder="Введите цену за м²">
      </mat-form-field>
    </div>
  </div>
</div>

</body>
